<tr>
  <td style="padding: 20px 30px; background: #f8f8f8;" colspan="2">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EAE8E8" style="font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;">
      <tr>
        <td>  
          <table width="80%" border="0" cellspacing="0" cellpadding="0" style="padding:10px 0; margin:0 auto;">
            <tr>
              <td style="padding: 20px 0; text-align: center; font-size: 1em; font-weight: bold; color:#900; line-height: 24px;">This email contains list of Forums with members count and venue details.</td>     
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
