<tr>
  <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
</tr>
  <tr class="episode">
    <td>
      <a href="#"><img src="https://dmhtmt59mq15j.cloudfront.net/assets/images/pic3-2597e250cc000b0043c28b1fcbfe91cc.jpg" height="185px" alt=<%= "Getting Started with #{Rails.application.config.app_base_url}"%> ></a>
    </td>
    <td valign="top">
      <h2>Namah Shivay <%= @options[:sadhak_profile].try(:full_name) %>,</h2>
      <h3>Thank you for attending the <%= @options[:event].try(:event_name) %>. Here is a Gift from Baba ji, a daily practice DVD. This is only meant for you, please do not share it with anyone.</h3>
      <h4><a href="https://player.vimeo.com/external/151714415.hd.mp4?s=0604776724936c6b0f2c32473d60c3fc1ec229db&amp;profile_id=113&amp;download=1" target="_blank">Click Here to Download&nbsp;Daily&nbsp;Sadhana</a></h4>
      <h3>Thank you.</h3>
    </td>
  </tr>
<tr>
  <td class="divider" colspan="2" bgcolor="#555555" height="2"></td>
</tr>
        