<tr>
  <td style="padding: 20px 30px; background: #f8f8f8;" colspan="2">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="margin-top:10px; border:1px solid #909090; border-radius: 10px; font-weight: normal; font-size: 15px;padding:10px; line-height: 27px">
      <tr>
          <td>
              <b>Namah Shivay <i><%= @options[:sadhak_profile].full_name %></i>, </b>
          </td>
      </tr>
      <tr>
        <td>
          <%= @options[:notification_text] || 'Please find attached entry card with this email. Please take a coloured print of your entry card and bring along with your photo ID proof in shivir.' %>
        </td>
      </tr>
      <tr>
        <td>
            You can also download your entry card from your SYID profile.
        </td>
      </tr>
      <tr>
        <td>
            Please <a href=<%="#{Rails.application.config.app_base_url}/v1/sadhak_profiles/#{@options[:sadhak_profile].id}/related_sadhak_profiles"%> style="color: #bc0500">click here</a> to login into your profile.
        </td>
      </tr>
    </table>
  </td>
</tr>