<div class="modal fade" id="request_a_callback_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">Request a Call Back</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <!--<i class="fa fa-user prefix grey-text"></i>-->
          <input type="text" id="form1" class="form-control validate" />
          <label data-error="wrong" data-success="right" for="form1">Name</label>
        </div>
    
        <div class="md-form mb-5">
          <!--<i class="fa fa-user prefix grey-text"></i>-->
          <input type="text" id="form2" class="form-control validate" />
          <label data-error="wrong" data-success="right" for="form2">SYID</label>
        </div>

        <div class="md-form mb-4">
          <!--<i class="fa fa-envelope prefix grey-text"></i>-->
          <input type="email" id="form3" class="form-control validate" />
          <label data-error="wrong" data-success="right" for="form3">Email</label>
        </div>
    
        <div class="md-form mb-4">
          <!--<i class="fa fa-phone prefix grey-text"></i>-->
          <input type="text" id="form4" class="form-control validate" />
          <label data-error="wrong" data-success="right" for="form4">Phone</label>
        </div>
    
        <div class="md-form mb-4">
          <!--<i class="fa fa-phone prefix grey-text"></i>-->
          <textarea class="form-control md-textarea" id="form5" name="form5" rows="3" required></textarea>                          
          <label data-error="wrong" data-success="right" for="form5">Tell Us About Yourself</label>
        </div>
    
        <div class="md-form mb-4">
          <!--<i class="fa fa-phone prefix grey-text"></i>-->
          <input type="text" id="form6" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form6">What is Your Request</label>
        </div>  
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="shivyog-btn"><a href="#" class="cta_button_small bg-red waves-effect"><i class="fa fa-paper-plane-o ml-1"></i>Submit</a></div>
      </div>
    </div>
  </div>
</div>