<%= content_for(:title, "Cosmic Farming") %>

<section id="cosmic-farming-banner">
</section>

<div class="clear"></div>

<section id="what_is_shivyog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading_subtitle">Shiv Yog Cosmic Farming</div>
                <div class="dashed_divider"></div>
                <div class="heading_title">Watch on Shiv Yog Cosmic Farming TV</div>
                <p>Shiv Yog Cosmic Farming is the first ever farming methodology based on nourishment of crops through cosmic energy. The project rippled across the entire globe producing hitherto unimaginable results for millions of farmers across the globe. This is Dr. Shivanand’s major contribution to humankind.   After close to two decades of teaching millions of empowering people across the globe he decided to turn his attention to the plight of the farmers. It is now time to spread this knowledge across the world for the benefit of all farmers regardless of nationality and ethnicity.</p>
<p>To learn more about Shiv Yog Cosmic Farming please visit: <a href="http://krishi.shivyogindia.com">http://krishi.shivyogindia.com</a></p>

                    <div class="shivyog-btn display-inline-block">
                        <a href="http://krishi.shivyogindia.com"><div class="cta_button_small bg-red waves-effect">Know More</div></a>
                    </div>
            </div>

        </div>
    </div>
</section>

<div class="clear"></div>

<section id="shivyog_paragraph">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <div class="dashed_divider"></div>
                <div class="heading_title m-b-30">You can also learn more about Shiv Yog Cosmic Farming on Shiv Yog Cosmic Farming TV. Please click the play button to watch and learn.</div>
                <div class="shivyog_video_img">
                  <a href="Javascript: void(0);" id="shivyog_impact_video_01" data-toggle="modal" data-src="https://www.youtube.com/embed/yDare8yV67U" data-target="#myModal">
                    <%= image_tag "v2/cosmic_farming_video_img.jpg", class: "img-fluid img-no-border" %>
                  </a>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render "v2/shared/newsletter" %>

<div class="clear"></div>
