<%= content_for(:title, "Cosmic Medicine") %>

<section id="cosmic-medicine-banner">
</section>

<div class="clear"></div>

<section id="attend_shivyog_program">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="babaji_statement"><div class="babaji_statement_text"><span class="red-text">Shiv Yog</span> <em>Cure Is Possible</em> is grounded in the definition of health. The World Health Organization (WHO) defines health as: "A state of complete physical, mental, and social well-being and not merely the absence of disease or infirmity."</div></div>
            </div>
        </div>
    </div>
</section>


<section id="what_is_shivyog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading_subtitle">Summary</div>
                <div class="dashed_divider"></div>
                <div class="heading_title">Start your Shiv Yog journey today</div>
                <p><span class="red-text">Shiv Yog</span> <em>Cure Is Possible</em> (<span class="red-text">SYCIP</span>) combines the modern medicine of the West with the ancient yogic wisdom of the East. <span class="red-text">SYCIP</span> is an approach to care that puts the patient at the center and addresses the entire gamut of physical, mental, emotional, and social factors that affect an individual’s health. It emphasizes the unique relationship between practitioner and patient and employs a personalized strategy to treat disease and help the patient regain and maintain optimal health. It is thus based on a model of health and wellness, as opposed to a model of disease of the traditional medicine. <span class="red-text">SYCIP</span> is the science of self-awareness that unfolds the innate healing potential within a human being. <span class="red-text">SYCIP</span> shifts the focus from traditional Newtonian Physics to Quantum Physics of energy, field, and signals in the treatment of a disease.</p>
                <p>The fundamental principles of <span class="red-text">Shiv Yog</span> <em>Cure Is Possible</em> as defined by Dr. Shivanand are listed below.</p>
            </div>

        </div>
    </div>
</section>

<div class="clear"></div>

<section id="what_is_shivyog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading_title">Principles of Shiv Yog <em>Cure Is Possible</em></div>
                <div class="dashed_divider"></div>



<p><i class="fa fa-star-half-full" aria-hidden="true"></i>
Based on quantum physics, all matter is made up of energy and energy is made up of vibrations.
</p>
<p>
<i class="fa fa-star-half-full" aria-hidden="true"></i>Every human body (including the organs, cells, atoms, and sub-atomic particles of an individual) has its own frequency.
</p>

<p>
<i class="fa fa-star-half-full" aria-hidden="true"></i>Further, every human being has five bodies – physical body, energy body, mind body, causal body, and super-causal body; all these five bodies have their own frequencies.
</p>

<p>
<i class="fa fa-star-half-full" aria-hidden="true"></i>An individual's thoughts have their own frequencies and thoughts are affected by the psychic impressions (residue of past traumas and negative situations – emotional and etheric toxins) stored in the causal body.
</p>

<p><i class="fa fa-star-half-full" aria-hidden="true"></i>
An individual's cells resonate with the frequency of that individual’s emotions (state of mind) which are in turn controlled by thoughts.
</p>

<p><i class="fa fa-star-half-full" aria-hidden="true"></i>
When these frequencies go below a certain level, the individual manifests a disease. At higher frequencies, the individual experiences excellent health.
</p>

<p><i class="fa fa-star-half-full" aria-hidden="true"></i>
Energy exchange between individuals is a fact of nature – an individual can raise the frequency of another individual by transferring positive energy.
</p>
<p><i class="fa fa-star-half-full" aria-hidden="true"></i>
The human body is capable of producing the medicine needed for a cure from within, at healthy frequencies.
</p>
<p class="m-b-30"><i class="fa fa-star-half-full" aria-hidden="true"></i>
By detoxifying the patient of physical, emotional, and etheric toxins and raising cellular frequencies, it is possible to achieve a cure.
</p>


<div class="dashed_divider m-b-30"></div>

<p>Physicians can be taught how to detoxify themselves at multiple levels and to raise their own vibrational frequencies so high that they become the living medicine that the patient needs for the cure. Physicians can also be trained to transfer to patients the knowledge and practice of cosmic yogic techniques as well as mental and emotional attitudes for lasting good health.</p>

                    <div class="text-align-center">
                        <div class="shivyog-btn display-inline-block">
                            <a href="https://cureispossible.org/" target="_blank"><div class="cta_button_small bg-red waves-effect">Know More</div></a>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</section>

<div class="clear"></div>

<%= render "v2/shared/newsletter" %>

<div class="clear"></div>
