<%= content_for(:title, "Quotes") %>

<section id="quotes-banner">
</section>

<div class="clearfix"></div>

<section id="shivyog_para">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Shiv Yog Quotes</div>
        <div class="dashed_divider"></div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section id="shivyog_testimonials" class="white-text quote-slider">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="heading_subtitle text-align-center">Dr. Shivanand Says</div>
      <div class="testimonial-carousel owl-carousel owl-theme">

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
In every halted situation, You were my guiding force, In every halted situation, You were my guiding force, I have felt existence and so I have left my past behind and stepped forward to experience the blessed future.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
ONLY THE AWAKENED CAN TAKE RESPONSIBILITY. ONLY THE AWAKENED CAN TAKE RESPONSIBILITY. The ignorant always suffer blaming others. Instead, one must think, what lessons did one learn from the incident of life.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
When you feed the hungry in the name of your ancestors, When you feed the hungry in the name of your ancestors, It is not the food but the emotion of contentment of the one who consumes that reaches them.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
A True Disciple will be Silent with his Guru and Not Verbal. The Disciple will take in his Guru's Consiousness.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
A normal person will succumb to any difficult situation in life. A Shiv Yogi Will learn the lessons from all troubles and emerge Victorious and not commit the same mistake again.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="row">
            <div class="col-sm-12">
              <div class="textimonial_text_box">
                <p class="text-align-center"><i class="fa fa-quote-left" aria-hidden="true"></i>
Maya will test you with all kind of Circumstances. Maya will test you with all kind of Circumstances. Those who devotionally do sadhana of lord Mahamruthunjaya can never be affected by anything. Maya will test you with all kind of circumstances but if you remain strong you will gain victory.</p>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
</div>
</section>
<div class="clearfix"></div>

<section class="quotes-sec">
  <div class="container">
      <div class="row">
    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> In every halted situation, You were my guiding force, In every halted situation, You were my guiding force, I have felt existence and so I have left my past behind and stepped forward to experience the blessed future.</div></div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> ONLY THE AWAKENED CAN TAKE RESPONSIBILITY. ONLY THE AWAKENED CAN TAKE RESPONSIBILITY. The ignorant always suffer blaming others. Instead, one must think, what lessons did one learn from the incident of life.</div></div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> When you feed the hungry in the name of your ancestors, When you feed the hungry in the name of your ancestors,  It is not the food but the emotion of contentment of the one who consumes that reaches them.</div></div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> A True Disciple will be Silent with his Guru and Not Verbal. The Disciple will take in his Guru's Consiousness.</div></div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> A normal person will succumb to any difficult situation in life. A Shiv Yogi Will learn the lessons from all troubles and emerge Victorious and not commit the same mistake again.</div></div>
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 m-b-30">
      <div class="babaji_statement"><div class="babaji_statement_text"> Maya will test you with all kind of Circumstances.Maya will test you with all kind of Circumstances.Those who devotionally do sadhana of lord Mahamruthunjaya can never be affected by anything.Maya will test you with all kind of circumstances but if you remain strong you will gain victory. </div></div>
    </div>

    <div class="clearfix"></div>
      </div>

  </div>

</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
