<%= content_for(:title, "Seva Through Forums") %>

<section id="seva-through-forums-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">Summary</div>
        <div class="dashed_divider"></div>
        <p>Shiv represents the Supreme Consciousness and Yog represents union. ShivYog thus is the state of being merged with the infinite consciousness. To know more about healing the mind, body & soul and about life transformation solutions visit this website's pages. The founder of ShivYog is Dr. Avdhoot  Shivanand is the Master of Ancient Indian Healing, who is currently sharing the sacred secrets of healing for overall life transformation.</p>

        <div class="shivyog-btn">
          <%= link_to "Read More", v2_blogs_path, class: "cta_button_small bg-red waves-effect" %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
