<%= content_for(:title, "ShivYog FAQs") %>

<section id="shivyog-faqs-banner">
</section>

<div class="clearfix"></div>

<section id="our_story_summary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading_subtitle">FAQs</div>
        <div class="dashed_divider"></div>
        <div class="heading_title">You can find all your answers listed below</div>


        <div class="flat-accordion">
          <div class="flat-toggle">
            <div class="toggle-title active">What does ShivYog mean ?</div>
            <div class="toggle-content">
              <p>Imagine a seed. Imagine a seed in the ground. Imagine it being exposed to the elements. What happens next? There is a wonderful transformation. A seemingly dead-looking seed transforms into a beautiful life-giving tree. Yes, the elements have a role to play. Someone may even say that the tree was hidden inside the seed but the fact remains no matter which way you put it, the seed changes. In the same manner, men become great men with their thoughts with their actions. Some men become great businessmen some become great saints. Every seed transforms into a tree. And this transformation of ordinary into extraordinary is called Shiv Yog.</p>

              <p>Literally, Shiva means supreme consciousness and Yog means union. Imagine it like a smart phone connecting to a Wifi network. Just like Wifi enables the phone to connect to all the information in the world, in the same manner people in a state of Yoga with the supreme are enabled to do great things. Shiv Yog means the path to unification with the supreme.  It is a pre-religion phenomenon, which is defined again and again by great men in the form of scriptures, difficult to interpret, but now through the grace of His holiness Avdhoot Shivanand today’s generation can learn this path in its truest, purest form.</p>
            </div>
          </div><!-- /toggle -->
          <div class="flat-toggle">
            <div class="toggle-title">How does practicing Shiv Yog help people ? </div>
            <div class="toggle-content">
              <p>If a man is overweight then because of his weight he will suffer from lethargy heart problems, high blood sugar etc. if a man starts to work upon his body and reduces his weight, he will find that overall all his organs will start functioning properly because our body is an ecosystem of organs. Similarly, if there is negativity in the mind, or emotional blockages, then a person will not just experience psychological turmoil, he will feel restless and burdened in every aspect of his life. This so because life is also an ecosystem of our mind, thoughts and beliefs. Shiv Yog works at the core. It helps people resolve the issues, which lead to the failure in this ecosystem. One cannot say that only spiritual benefit will be conferred through meditation because the fact remains that if you start focusing on any aspect of human existence then all aspects become healed. For instance, through Shiv Yog sadhna, a person gets peace and relaxation. A peaceful person will be more understanding and loving in his relationships, leading to a happy family life. A happy state of mind will enhance a person's productivity at work, bringing him more fortune and with more fortune, a person can meditate deeper without tension of the future, hence achieving more peace and now imagine the same cycle continuing till infinity but each time with greater outcome. So if a person asks in which ways Shiv Yog will help me, I will only say in every single way.</p>
            </div>
          </div><!-- /toggle -->
          <div class="flat-toggle">
            <div class="toggle-title">We would like to learn more about you. What made you interested in ShivYog ?</div>
            <div class="toggle-content">
              <p>Unlike many saints, who become interested in spirituality at some point in their lives and then take deeksha to be an ascetic. I was born into asceticism since I remember, I was taught Shiv Yog, I ate Shiv Yog, breathed Shiv Yog. Whne children are learning alphabets, I was being taught the Vedas and upanishads. When children are busy playing sports, I was taught Yoga and Kalri Pettu. Interest comes when you are attracted towards something that normally doesn’t exist. But Shiv Yog is my normal. I learnt there was only one objective of my life that like my father, in time, I had to teach the secrets to the world. Children may have many dreams - some may want to be a doctor, some may want to be an engineer but since the day I became sentient, I had only one goal and that is to help people around the world, learn and embrace the ancient and powerful teachings of Shiv Yog. Interests mean a hobby. For me, Shiv Yog is my reason to live. It is my breath.</p>
            </div>
          </div><!-- /toggle -->
          <div class="flat-toggle">
            <div class="toggle-title">We would like to learn more about Shiv Yog, the organization ?</div>
            <div class="toggle-content">
              <p>Shiv Yog is spiritual organization, not to be confused with a religious organisation, meaning in religion, people are said to worship a particular God or work in a particular manner. But in Shiv Yog, The only thing important is belief in the supreme and that supreme can be in any form. Through Shiv Yog, a person will find himself coming closer to his God and truly experience all that is written as scriptures or told as fables. Hence Shiv Yog is accepted, appreciated and celebrated by people of all religions, nationalities and creed. In every continent, country and city, you will find Shiv Yogis. A Shiv Yogi means a person who is serious about his evolution, his spiritual growth and meditation. Shiv Yogis are good human beings who respect all faiths and who meditate to become better. Through Shiv Yog, a person follows the principle of 200% life. That means family values, success, meditation and helping fellow human beings through selfless service.</p>
            </div>
          </div><!-- /toggle -->

          <div class="flat-toggle">
            <div class="toggle-title">There are programmes that are continually being held worldwide. Please relate more on this. What do you envision for the future?</div>
            <div class="toggle-content">
              <p>When I was a child, as my father focused on my spiritual education, my mother wished for me to have a formal education as well. When I went to school, I learnt that children are being taught everything about the external world and nothing about the internal self. I learnt that children know how to work computers, phones and machines but don’t know how to deal with their own emotions. The result being that today machines are being more sophisticated and humans being more broken. As the outer world progresses, sickness becomes more complicated. Psychological disorders become more advanced and the age of depression, anxiety and psychosomatic disorders reduces every year. My vision is of a better world by helping people become better. Human beings are highly evolved beings if given a chance and that is what Shiv Yog does. It teaches people about the most sophisticated machinery on the planet – our own self. My vision is that if each child is taught meditation. If each man learns meditation, then the collective consciousness will start to turn towards empathy, love and peace. Once there is compassion towards fellow men, then even resources and science can be utilized for increasing the quality and expectancy of life rather than as a tool for destruction. With each day that I work, with each country that I travel, I learn there are more people like me who want to evolve, who want to make the world a better place.  And Shiv yogis around the world increase, I see my dream slowly turning into a reality. Hence, the urgency. I wish to raise people's consciousness at a pace faster than with which this age is trying to pull it down.</p>
            </div>
          </div><!-- /toggle -->

          <div class="flat-toggle">
            <div class="toggle-title">We understand that there are many projects in need. Please expand on the projects that are currently taking place and how people can offer their assistance.</div>
            <div class="toggle-content">
              <p>Shiv Yog is a very fun, yet serious path. Fun, because we believe if life must be lived, why not live it in such a manner that we experience utmost happiness. And serious because we are very particular about certain things. We are particular about: (a) our meditation because only through meditation can a person raise his consciousness and gain deeper understanding of the world, (b) the wisdom of Shiv Yog because as we understand this wisdom, our immunity towards negativity increases, enabling us to overcoming sorrows more easily. And the last thing - Sewa (Service). Shiv Yogis are very particular in efforts to make the world better. And in these efforts, Shiv Yog has four main projects in which massive resources - monetary and human - are pumped. The first of these is plantation. Plantation of fruit-laden trees. Second, providing food, basic necessities to children and families around the world. (c) adopting old age homes and (d) animal rescue and shelter in the form of one of the biggest and most beautiful cow shelters made by Baba ji. A safe haven for cows, dogs, birds, cats and many other creatures.</p>
              <p>Shiv Yog believes in self-sustenance and self-reliance and hence no donation is ever collected for these projects. My father and I travel the globe, taking meditation seminars where people pay fees. These seminars vary - from week long to month long programmes - where each day my father and I spend eight to ten hours, training these people to understand spirituality and experience the deepest levels of meditation. Unlike the past, where a person had to climb mountains to find a Guru to teach such secrets, Baba ji and I travel and take these secrets to the masses. The paid programmes help us generate funds with which we carry out the sewa projects and do free programmes for people who cannot afford fees.  Hundreds of people participate in these programmes and contribute so that millions of people can be happy and learn Shiv Yog. So if you wish to contribute, just be a part of such a programme near you.</p>
            </div>
          </div><!-- /toggle -->
        </div><!-- /.accordion -->


      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<%= render "v2/shared/newsletter" %>
