<!-- Video Modal -->
<div class="modal fade in" id="digital-content-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9" id="<%= @div_id %>">
          <script src="<%= @src %>"></script>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on('hide.bs.modal', function () {
  jwplayer().stop();
})
</script>
