<%= form_for @address_proof_type, html:{class: "table-screen-next", id: "address_proof_types_form"} do |f| %>
  <div class="prelative mg-b30">
    <div class="overlapping "></div>
    <div class="row mg-t30">
        <div class="col-sm-12">
            <div class="box bordered-input">
                <label class="asterisk">Name</label>
                <div class="dropdown dropdown-field">
                    <%= f.text_field :name, class: 'form-control noBorder field', required: true, placeholder: "Name" %>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="pannel-btn text-right">
                <button type="reset" class="btn btn-danger mg-r10" >CLEAR</button>
                <%= f.submit params[:action] == "edit" ? "UPDATE" : 'CREATE', {class: 'btn btn-info'} %>
            </div>
        </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#address_proof_types_form").validate();
  });
</script>