<body style="margin:0px;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EAE8E8" style="font-family:Verdana, Geneva, Helvetica, Arial, sans-serif;">
    <tr>
      <td>  
        <table width="80%" border="0" cellspacing="0" cellpadding="0" style="padding:10px 0; margin:0 auto;">
          <tr style=" width: 100%;  border-bottom: 1px solid #900;  background: #900;">
            <td style="padding: 10px;"><a href="#"><img src="https://dmhtmt59mq15j.cloudfront.net/assets/images/logo.png" alt=""></a></td>        
          </tr>
          <tr>
            <td style="padding: 20px 0; text-align: center; font-size: 1em; font-weight: bold; color:#900; line-height: 24px;">This email contains list of proposed forums with venue details, requester details and forum link.</td>     
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
