<section id="contentCntr" class="errorsection height-full">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="errorbox">
                <div class="boxsection boxshadow">
                    <div class="errorright text-center">
                        <h2>Oops!</h2>
                         <p>Sorry, Access Denied / Forbidden</p>
                        <span>The page or resource you were trying to reach is absolutely forbidden for some reason.</span>
                        <%= link_to "GO BACK TO HOMEPAGE", "/", class: "btn btn-info lg-btn" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>