<section id="contentCntr" class="errorsection height-full">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="errorbox">
                <div class="boxsection boxshadow">
                    <div class="errorright text-center">
                        <h2>Oops!</h2>
                        <p>Sorry, Page Not Found</p>
                        <span>The link you followed is either outdated, inaccurate, or the server has been instructed not to let you have it.</span>
                        <%= link_to "GO BACK TO HOMEPAGE", "/", class: "btn btn-info lg-btn" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>