<section id="contentCntr" class="errorsection height-full">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="errorbox">
                <div class="boxsection boxshadow">
                    <div class="errorright text-center">
                        <h2>Oops!</h2>
                        <p>Sorry, Internal Server Error</p>
                        <span>There has been an internal server error with the page you've requested.</span>
                        <%= link_to "GO BACK TO HOMEPAGE", "/", class: "btn btn-info lg-btn" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>