<%= content_for(:title, "Registration Status") %>

<section id="registration-status-banner">
</section>

<div class="clearfix"></div>

<section class="">
  <div class="container">
    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="heading_subtitle"><h2>Registration Status</h2></div>
        <div class="dashed_divider m-b-30"></div>
        <div class="card">
          <div class="body">
            <%= render 'check_registration_status' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "v2/shared/newsletter" %>