<div class="panel">
    <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <i class="more-less glyphicon glyphicon-plus"></i>
                <i class="success-btn hidden">
                    <%= image_tag "check-mark.png"%>
                </i>
                <span>Portal Shivirs</span>
            </a>
        </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>There is no record avaiable for upcoming shivirs</h3>
                </div>
            </div>
        </div>
    </div>
</div>