<%= form_for @db_country, html:{class: "table-screen-next", id: "db_country_form"} do |f| %>
  <div class="prelative mg-b30">
    <div class="overlapping"></div>
    <div class="row mg-t30">
        <div class="col-sm-6">
            <div class="box bordered-input">
                <label class="asterisk">Country Name</label>
                <div class="dropdown dropdown-field">
                    <%= f.text_field :name, class: 'form-control noBorder field', required: true, placeholder: 'Country name' %>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box bordered-input">
                <label>Telephone Prefix</label>
                <div class="dropdown dropdown-field">
                    <%= f.text_field :telephone_prefix, class: 'form-control noBorder field', placeholder: 'Telephone prefix', required: true %>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="pannel-btn text-right">
                <button type="reset" class="btn btn-danger mg-r10" >CLEAR</button>
                <%= f.submit params[:action] == "edit" ? "UPDATE" : 'CREATE', {class: 'btn btn-info'} %>
            </div>
        </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#db_country_form").validate();  
  });
</script>