<% content_for(:title, 'Admin | Source Info Type') %>

<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>Admin Panel</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <%= render 'admin/admin_left_panel' %>
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    
                    <div class="rightContent">
                      <div id="source_info_types">
                          <div class="row">
                              <div class="col-sm-12 mg-b30">
                                   <div class="headtittle text-center">
                                      <h2>Source Info Types</h2>
                                  </div>
                              </div>
                              <div class="col-sm-12">
                                  <div class="pannel-btn text-left">
                                      <%= link_to "CREATE NEW", source_info_types_path, class: "btn btn-info" %>
                                  </div>
                                  <%= render "source_info_types/form"%>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
