<tr class="nested-fields">
    <td class="field">
        <div class="outbox">
            <div class="box bordered-input dropdown">
                <div class="dropdown-field selectTwo-dropdown">
                    <%= f.select :tax_type_id, options_for_select(TaxType.pluck(:name, :id), f.object.tax_type_id), { include_blank: "----- Select -----" }, { class: 'basic-single', required: true } %>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="outbox">
            <div class="box bordered-input tablebox">
                <div class="dropdown dropdown-field">
                		<%= f.text_field :percent, class: "form-control noBorder field", required: true, "data-rule-number": true, placeholder: "Percent" %>
                </div>
            </div>
        </div>
    </td>
    <td>
    		<%= link_to_remove_association "Remove",  f, { class: 'primary-color' } %> 
    </td>
</tr>