<% content_for(:title, 'Event | Shivir Details') %>
<div class="adminCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>New Event</h2>
    </div>
    <div class="row">
        <div class="overflow-row">
            <div class="rightCntrl">
                <div class="boxsection-lg boxsection-xs boxshadow prelative">
                    <div class="rightContent">
                        <!-- ********  Shivir Details  *********** -->
                        <%=render "events/shivir_details/shivir_details"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>