<% content_for(:title, 'Forum | New Forum') %>
<div class="CompleteprofileCntrl">
    <div class="headingtittle-h2 text-center">
        <h2>International Forum Formation Form</h2>
    </div>
    <div class="boxsection-lg boxsection-xs boxshadow prelative">
        <div class="tab-content">
          <%= render partial: "sy_clubs/basic_info_form", locals: { redirection_to: sy_clubs_path } %>
        </div>
    </div>
</div>