<div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <h2 class="headtittle">Reset Password</h2>
                <button type="button" class="btn btn-info btnclose" data-dismiss="modal"><%= image_tag "close.png", alt: "close"%></button>
            </div>
        <div class="modal-body">
            <div class="row mg-t30">
                <div class="col-sm-12">
                    <label class="normallabel">This action will reset the password of sadhak <span class="primarybold"><%= @sadhak_profile.full_name%></span> / <span class="primary-color primarybold">SYID : <%= @sadhak_profile.syid%></span></label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pannel-btn text-right">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                <%= link_to 'SEND', reset_and_send_user_password_sadhak_profile_path(@sadhak_profile.slug), class: "btn btn-info", remote: true%>
            </div>
        </div>
    </div>
</div>