<div class="headingtittle-h2 text-center">
    <h2>About Shivyog</h2>
</div>
<div class="boxsection-lg boxshadow prelative boxsection-xs">
    <div class="row pd-t10">
        <div class="col-sm-12">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>What Is Shivyog ?</h2>
                </div>
                <p>You life is in your hands
                Shiv Yog defines God as the source of the infinite potential within every human being. Every human being has the potential to go beyond the limited identification with the body and mind. Shiv Yog provides us easy and practical ways to establish a connection with the infinite dimension from where everything in the manifest universe has been created. It is a scientific approach to living a 200% life – 100% worldly and 100% spiritual. It is a journey from Mindfulness to Inner Consciousness to Self-realization.</p>
            </div>
        </div>
        <div class="col-sm-12 pd-t20">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>How can I start my Shiv Yog journey?</h2>
                </div>
                <p>The Shiv Yog foundation and Shiv Yog volunteers conduct various Shiv Yog mindfulness programs worldwide. A list of ongoing and upcoming Shiv Yog events is available in the “Events” section of this website. The best first step for someone interested in learning the wisdom and practice of Shiv Yog, is to join a Shiv Yog International Forum. <%= link_to "Click Here", root_path , target: :_blank, class: "primary-color anchorlink" %> to find the nearest forum.</p>
                <p>You can utilize the “Request a call back” button on this website to speak with someone who is knowledgeable about Shiv Yog and can guide you. You can also connect with the nearest Shiv Yog forum to get more information. Joining a forum is also a good way to start your Shiv Yog journey. It does not matter how or where you start but a Shiv Yog mindfulness program is something that you should experience at least once in your life.</p>
            </div>
        </div>
    </div>
</div>