<div class="headingtittle-h2 text-center">
    <h2>Contact Us</h2>
</div>
<div class="boxsection-lg boxshadow prelative boxsection-xs">
    <div class="row pd-t10">
        <div class="col-sm-12">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>India</h2>
                </div>
                <p><a href="mailto:forum@shivyogindia.com" class="primary-color"><%= "forum@shivyogindia.com" %></a></p>
                <p><a href="mailto:registration@shivyogindia.com" class="primary-color"><%= "registration@shivyogindia.com" %></a></p>
            </div>
        </div>
        <div class="col-sm-12 pd-t20">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>Abroad</h2>
                </div>
                <p><a href="mailto:info@absclp.com" class="primary-color"><%= "info@absclp.com" %></a></p>
            </div>
        </div>
    </div>
</div>