<div class="headingtittle-h2 text-center">
    <h2>Refund Policy</h2>
</div>
<div class="boxsection-lg boxshadow prelative boxsection-xs">
    <div class="row pd-t10">
        <div class="col-sm-12">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>Refund and Cancelation Policy</h2>
                </div>
                <p>Registration is not refundable. Please do not register if you are unsure of your abillity to attened the event.</p>
                <%# <p>In case of event cancellation, refunds will be issued via currency of payment received. In case of event reschedule, attendee will have the option to request refund.</p> %>
            </div>
        </div>
    </div>
</div>