<div class="headingtittle-h2 text-center">
    <h2>Terms and condition Page</h2>
</div>
<div class="boxsection-lg boxshadow prelative boxsection-xs">
    <div class="row">
        <% if @sy_event_company.try(:terms_and_conditions).present? %>
            <%= @sy_event_company.terms_and_conditions.html_safe %>
        <% else %>
            <div class="col-sm-12">
            <div class="termdetails">
                <div class="headtittle">
                    <h2>Shivyog ID</h2>
                </div>
                <p>Unique <span class="primarybold">SHIVYOG ID</span> is required for all individuals registering for event. You may obtain a SHIVYOG ID free of cost by registering on the ShivYog Portal <a href="javascript:void(0)" class="primary-color">(www.shivyogportal.com)</a>. The <span class="primarybold">SHIVYOG ID</span> is required to attend all ShivYog Events.</p>
            </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Age Restriction</h2>
                    </div>
                    <p>ShivYog Events are not recommended for children under the age of 12. A child may participate only under supervision and complete responsibility of a Parent or Legal Guardian.</p>
                    <p>Teenage Children (between 12 and 18) may attend the event under the supervision and complete responsibility of a registered adult.</p>
                    <p>Children are expected to maintain discipline during the event and if their behavior is deemed to be disruptive or inappropriate by Venue Volunteers or Staff, both the Child and the supervising adult will be requested to vacate the venue.</p>
                </div>
            </div> 
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Registration & Payments</h2>
                    </div>
                    <p>All attendees are required to make payment in full at time of registration via payment options presented. </p>
                    <p>In case of failure of payment, every attempt will be made to contact the registrant to clear this issue. Registration will be then be cancelled in case of contact and payment failure.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Refund and Cancelation Policy</h2>
                    </div>
                    <p>Registration is not refundable. Please do not register if you are unsure of your abillity to attened the event.</p>
                    <p>In case of event cancellation, refunds will be issued via currency of payment received. In case of event reschedule, attendee will have the option to request refund.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Medical Information Disclaimer</h2>
                    </div>
                    <p>ShivYog is an ancient practice of unifying the body, mind, soul, and spirit. After being initiated in to these practices by the learned, experienced, and enlightened master, these practices are also to be performed under his guidance. Maintaining a regular practice and discipline may ensure favorable results.</p>
                    <p>ShivYog event is not a substitute for medical care and offers no guarantee of any kind. Consult your Medical/Health Service Provider prior to starting any yoga program and making changes to your diet. Information provided at the event is in no way intended to diagnose, cure or treat any medical or other condition.</p>
                    <p>Shivyog does not diagnose or prescribe medical or psychological conditions. Shivyog also does not claim to prevent, treat, mitigate or cure such conditions.</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i> No attempt is made to provide diagnosis, care, treatment or rehabilitation of individuals</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> No attempt is made to apply medical, mental health or human development principles to provide diagnosing, treating, operating or prescribing for any human disease, pain, injury, deformity or physical condition. </li>
                    </ul>
                    <p>Any techniques Shivyog addresses only pertain to the underlying spiritual issues that may affect human well-being with a regular practice and discipline.</p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Copyright & Treadmark</h2>
                    </div>
                    <p>Audio and or Video recording at the event is strictly prohibited. Any attendee caught recording the event proceedings with any device will be requested to vacate the venue and forfeit the recordings.</p>  
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Food Allerigies / Restrictions</h2>
                    </div>
                    <p>PRASAD (Food offered to God and later distributed). At Shivyog event Prasad may be distributed and all attendees are welcome to consume. Those with food allergies and/or dietary restrictions are requested to refrain from consuming Prasad and make their own arrangements for meals and snacks as required for the length of the program.</p>
                    <p>Please read and indicate that you understand and are responsible for your dietary restrictions and needs if any.</p>  
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Accessability</h2>
                    </div>
                    <p>Shivyog events are held in rented venues and make no guarantees on accessibility for the physically and mentally challenged. Accessibility is limited to the features of each facility. </p>
                    <p>The events are always in some combination of both Hindi and English languages. Translation services of any kind are not provided.</p>  
                </div>
            </div>
            <div class="col-sm-12">
                <div class="termdetails">
                    <div class="headtittle">
                        <h2>Event Sanctitiy Compliance</h2>
                    </div>
                    <p>Each registered attendee is requested to maintain the sanctity of the event by respecting the following rules:</p>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i>No Cells Phones in the Venue</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Maintain Silence while inside the Venue</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Sitting in your allocated seat</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>No photography, audio and video recording</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>Dress Appropriately for Event</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i>No Food and Beverage in Venue (Restrict to break times)</li>
                    </ul>  
                </div>
            </div>
        <% end %>
    </div>
</div>