<div class="container">
    <div class="termconditionCntrl">
            <div class="headingtittle-h2 text-center">
                <h2>Terms & Conditions</h2>
                <span class="subheading">Registering and Attending Shivyog Forums</span>
            </div>
            <div class="boxsection-lg boxsection-xs boxshadow prelative">
                <div class="row pd-t10">
                    <div class="col-sm-12">
                        <div class="termdetails">
                            <div class="headtittle">
                                <h2>THE RIGHT TO ADMISSION IS RESERVED</h2>
                            </div>
                            <p>The organiser reserves the right to cancel the registration without stating any reason whatsoever. The organiser can refuse entry in the event.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="termdetails">
                            <div class="headtittle">
                                <h2>CONSENT & DECLARATION</h2>
                            </div>
                            <p>For the purpose of registering for Continuous Learning Program (CLP), consent as given below needs to be given by the intending participant(s).</p>
                            <p>“I hereby give my consent without any reservations voluntarily to SYC Infinite to collect and use my personal data for purposes necessary to process the Continuous Learning Program and related courses . I further give my consent, voluntarily and without reservations to permit SYC Infinite, to make accessible my experience with CLP which I have disclosed to be shared in its website or other similar social platforms.”</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="termdetails">
                            <div class="headtittle">
                                <h2>DECLARATION</h2>
                            </div>
                            <p>I agree to all the terms and conditions and state that I am becoming part of (CLP) by SYC Infinite at my own free will. I take full responsibility for participating in this CLP without any expectations regarding its outcome whatsoever. I will maintain the sanctity of the program and keep all facets of the program strictly confidential.</p>
                            <p>This registration shall be governed by the laws of the State of California. Venue for any disputes shall be the Superior Court of Santa Clara County, State of California, USA, which shall have sole and exclusive jurisdiction to hear any matters arising from my participation in CLP.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="termdetails">
                            <div class="headtittle">
                                <h2>Refund and Cancelation Policy</h2>
                            </div>
                            <p>Registration is not refundable. Please do not register if you are unsure of your abillity to attened the event.</p>
                            <p>In case of event cancellation, refunds will be issued via currency of payment received. In case of event reschedule, attendee will have the option to request refund.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="termdetails">
                            <div class="headtittle">
                                <h2>I confirm that all the information provided by me is true and to the best of my knowledge.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-12 mg-t30">
                        <div class="eventaction text-right">
                            <button class="btn btn-danger" onclick="window.print();return false;"><i class="fa fa-print mg-r5" aria-hidden="true"></i> Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>