<div id="shivirdetails">
	<div class="row">
	    <div class="col-sm-12 text-center">
	        <div class="headtittle">
	            <h2>Shivir Details <span class="sub-tittle">Awareness</span></h2>
	        </div>
	        <%= render 'shivir_status'%>
	    </div>
		<div class="detailshivir awareness">
			<%= render partial: 'application/no_records', locals: {message: 'No Awareness Type Available.'} %>
		</div>
	</div>
</div>


