<div class="modal fade" id="email_subscription_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="largeModalLabel">Email Subscription</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="">
                <h6 class="text-center mt-4 mb-4"><%= message %></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="shivyog-btn" data-dismiss="modal"><a href="javascript: void(0);" class="btn cta_button_small bg-red waves-effect m-0">Close</a></div>
      </div>
    </div>
  </div>
</div>