<%= form_for [@db_country, @db_state, @db_city], html:{class: "table-screen-next", id: "db_city_form"} do |f| %>
  <div class="prelative mg-b30">
    <div class="overlapping"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box bordered-input mg-t30">
                <label class="asterisk">Name</label>
                <div class="dropdown dropdown-field">
                    <%= f.text_field :name, class: 'form-control noBorder field', required: true, placeholder: "City name" %>
                </div>
            </div>
            <div class="pannel-btn text-right pull-right">
                <button type="reset" class="btn btn-danger mg-r10" >CLEAR</button>
                <%= f.submit params[:action] == "edit" ? "UPDATE" : 'CREATE', {class: 'btn btn-info'} %>
            </div>
        </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#db_city_form").validate();
  });
</script>